<div class="pt-4">
    <div>
        <span class="text-white font-bold text-lg sm:font-bold sm:text-2xl">Contact</span>
        <img src="/assets/icons/contact/contact.svg" alt="contact"
            class="hidden md:block xl:h-[36rem] xl:w-[36rem] lg:w-[32rem] lg:h-[32rem] md:h-80 md:w-80 sm:left-0 sm:bottom-0 absolute bottom-32">
    <div>
            <div class="flex justify-end">
                <consult></consult>
            </div>

            <div class="absolute bottom-0 right-0 z-1">
                <div class="w-60 h-32  bg-violet-800  bg-opacity-25 flex justify-end  mt-32 rounded-b-lg rounded-full">
                <div class=" h-52 w-32 bg-blue-500 bg-opacity-25  -mt-24 rounded-r-lg rounded-full "></div>
            </div>
        </div>
    </div>
</div>