<div class="pt-4 2xl:pt-8">
    <span class="text-white font-bold text-lg sm:font-bold sm:text-2xl 2xl:text-3xl">Contact</span>
    <div class="flex">
        <consult></consult>
    </div>
    <div>
        <img src="/assets/icons/contact/contact.svg" alt="contact" class="hidden xl:block absolute bottom-24 sm:bottom-5  xl:w-[36rem] 2xl:w-[58rem] right-12 ">
    <div>
        <div class="flex sm:absolute absolute bottom-0 -left-20"> 
            <div class="w-72 h-32 2xl:w-[28rem] 2xl:h-48 rounded-b-lg  rounded-full bg-violet-800 bg-opacity-25 ml-12 2xl:mt-44 mt-20"></div>
            <div class=" rounded-full h-56 w-64 2xl:h-96 2xl:w-96 bg-blue-500 bg-opacity-25 2xl:-ml-[37rem]  -mt-4 -ml-96"></div>
        </div>
        </div>
    </div>
</div>