<div class="pt-8 sm:pt-10  md:pt-14 xl:pt-16">
    <span class="text-custom-purple dark:text-white font-bold text-lg sm:font-bold sm:text-2xl 2xl:text-3xl">Contact</span>
    <div class="mt-6">
        <consult></consult>
    </div>
    <div>
        <img src="/assets/icons/contact/contact.svg" alt="contact" class="hidden xl:block absolute bottom-24 sm:bottom-5  xl:w-[45rem] right-12">
    <div class="hidden sm:block">
        <div class="flex  sm:absolute absolute bottom-0 -left-20"> 
            <div class="w-72 h-32 rounded-b-lg rounded-full bg-violet-800 bg-opacity-25 ml-12 mt-20"></div>
            <div class=" rounded-full h-56 w-64 bg-blue-500 bg-opacity-25 -mt-4 -ml-96"></div>
        </div>
    </div>
    </div>
</div>