<div class="items-center flex justify-end pt-4">
    <div class="flex justify-between w-full">
        <div class="sm:flex hidden gap-2 ">
            <img src="./assets/icons/logo.svg" alt="logo" class="h-8 w-8 2xl:h-10 2xl:w-10">
            <span class="text-white font-bold 2xl:text-2xl text-xl ">Casuel</span>
        </div>
         <div class="2xl:text-lg text-sm font-semibold text-white items-center flex gap-6">
                <a routerLink='/home'><span
                    [ngClass]="{'text-violet-500' : router.url == '/home'}"
                    class="hover:text-violet-500  cursor-pointer">Home</span></a>
                <a [routerLink]="['/articles']"><span
                    [ngClass]="{'text-violet-500' : router.url == '/articles'}"
                    class="hover:text-violet-50 cursor-pointer">Articles</span></a>
                <a [routerLink]="['/about']"><span
                    [ngClass]="{'text-violet-500' : router.url == '/about'}"
                    class="hover:text-violet-500  cursor-pointer   ">About</span></a>
                <a [routerLink]="['/contact']"><span
                    [ngClass]="{'text-violet-500' : router.url == '/contact'}"
                    class="hover:text-violet-500 cursor-pointer  ">Contact</span></a>
        </div>
    </div>
</div>
    
  





   

