<div class="p-6 md:flex bg-white  dark:bg-custom-violet w-full h-full rounded-2xl sm:justify-between">
    <div class="md:h-full h-min p-0 md:pr-6">
        <div>
            <span class="text-violet-400 dark:text-white text-2xl font-bold block text-center md:text-left">We will wait for you!</span>
            <div class="flex flex-col md:items-start items-center gap-y-1.5 mt-5">
                <div class="flex items-center gap-x-2">
                    <img src="/assets/icons/contact/location.svg" alt="location icon" class="w-5"><span class="text-gray-700 dark:text-violet-100 text-sm sm:text-lg">Gral. Flores 2537 Montevideo</span>
                </div>

                <div class="flex items-center gap-x-2">
                    <img src="/assets/icons/contact/call.svg" alt="phone number icon" class="w-5"><span class="text-gray-700 dark:text-violet-100  text-sm sm:text-lg">2202 0151</span>
                </div>

                <div class="flex items-center gap-x-2">
                    <img src="/assets/icons/contact/gmail.svg" alt="email icon" class="w-5"><span class="text-gray-700 dark:text-blue-500 text-sm sm:text-lg">casuelamoblamientos@hotmail.com</span>
                </div>
            </div>

        </div>
    </div>
    <div class="flex items-center justify-center md:justify-start mt-5 md:m-0">
        <img src="/assets/icons/contact/ubication.svg" alt="map icon" (click)="openModal()"
            class="cursor-pointer transition-all hover:scale-105">
    </div>
</div>

<div *ngIf="modalIsOpen" (click)="closeModal()"
    class="absolute z-10 top-0 left-0 bg-custom-blue bg-opacity-75 w-full h-screen flex justify-center ">
    <div (click)="$event.stopPropagation()">
        <img src="/assets/icons/contact/ubication.svg" alt="mapa" class="w-full pt-8 pb-8 h-screen items-center z-0">
    </div>
    <div>
        <button class="text-3xl text-white absolute top-3 right-96 " (click)="closeModal()">X</button>
    </div>
</div>
